v-autocomplete( 
  ref='autocomplete' 
  :rules='_rules'
  :search-input.sync='search' 
  single-line 
  v-bind='autocompleteProps' 
  v-model='selected'
  @keyup='fetchByKeyUp'
  )
  slot( name='prepend' slot='prepend' )
  slot( name='prepend-inner' slot='prepend-inner' )