v-container( v-bind='containerProps' )

  // prepend
  v-row
    v-col( cols='12' )
      slot( name='prepend' )

  // content
  v-row( v-bind='rowProps' )

    // items
    template( v-if='items.length' )
      template( v-for='item in items' )
        v-col( cols='12' )
          v-card( v-bind='cardProps' )
            v-card-title( v-bind='titleProps' ) {{ item[itemTitle] }}
            v-card-subtitle( v-bind='subtitleProps' ) {{ item[itemSubtitle] }}
            v-card-text( v-bind='textProps' ) {{ item[itemText] }}
            v-card-actions( v-bind='actionsProps' )
              slot( name='actions' )

    // loading
    template( v-else-if='loading' )
      v-col( cols='12' )
        v-card( v-bind='cardProps' )
          v-card-title( v-bind='titleProps' ) {{ loadingTitle }}
          v-card-text( v-bind='textProps' ) {{ loadingText }}

    // empty
    template( v-else )
      v-col( cols='12' )
        v-card( v-bind='cardProps' )
          v-card-title( v-bind='titleProps' ) {{ emptyTitle }}
          v-card-text( v-bind='textProps' ) {{ emptyText }}

  // append
  v-row
    v-col( cols='12' )
      slot( name='append' )