// form container
v-form.vw-form( ref='form' v-bind='_formProps' @submit='onSubmitForm' )
  v-card( v-bind='_cardProps' )
    
    // form toolbar
    template( v-if='showToolbar' )
      w-toolbar-form( v-bind='_toolbarProps' )
        slot( name='items' slot='items' )
        template( slot='items' )
          template( v-if='showHelp' )
            v-tooltip( bottom )
              template( slot='activator' slot-scope='props' )
                v-btn( icon v-on='props.on' @click='onClickHelp' )
                  v-icon {{ helpIcon }}
              span Ayuda
        slot( name='options' slot='options' )
    
    // form content
    v-card-text( v-bind='textProps' )
      w-fieldset( ref='fieldset' v-bind='fieldsetProps' v-model='_value' )

        // exmaple slots
        template( slot='items-items' )
          span ola

        // form slots
        template( :slot='slotName' v-for='slotName in itemsSlots' slot-scope='props' )
            slot( :name='slotName' v-bind='props' )

        // form append    
        template( slot='append' )
          slot( name='append' )

        // form append    
        template( slot='prepend' )
          slot( name='prepend' )
    
    // form actions
    template( v-if='showActions' )
      v-card-actions( v-bind='_actionsProps' )
        template( v-if='showReset' )
          v-btn( v-bind='_resetButtonProps' @click='onClickReset' ) {{ resetText }}
        template( v-if='showSubmit' )
          v-btn( v-bind='_submitButtonProps' @click='onClickSubmit' ) {{ submitText }}
  
  // form dialog
  v-dialog( v-bind='dialogProps' v-model='dialogs.help' )
    v-card( v-bind='dialogCardProps' )
      v-card-title {{ infoTitle }}
      v-card-subtitle {{ dialogCardSubtitle }}
      v-card-text 
        template( v-for='help in helps' )
          h3.body--1 {{ help.title }}
          p.body-2 {{ help.description }}