v-card( :loading='busy' v-bind='cardProps' )
  v-card-title( v-bind='titleProps' ) {{ title }}
    v-spacer
    slot( name='items' )
  v-card-text( v-bind='textProps' )
    slot( name='prepend' )
    v-list( v-bind='listProps' )
      v-subheader( v-bind='subheaderProps' v-if='!noSubheader' ) {{ subheader }}
      template( v-for='item in items')
        v-list-item( v-bind='itemProps' @click='onItem({ item })' )
          v-list-item-avatar( v-bind='avatarProps' )
            slot( name='avatar' )
          v-list-item-content( v-bind='contentProps' )
            v-list-item-title( v-bind='itemTitleProps' ) {{ item[itemTitle] }}
            v-list-item-subtitle( v-bind='itemSubtitleProps' ) {{ item[itemSubtitle] }}
          v-list-item-action( v-bind='actionProps' )
  v-card-actions( v-bind='actionsProps' )
    slot( name='actions' )