v-container( v-bind='containerProps' )
  v-row( v-bind='rowProps' )
    v-col( v-bind='leftProps' )
      v-container( v-bind='subContainerProps' )
        v-row( v-bind='subRowProps' )
          v-col( v-bind='principalProps' )
            slot( name='principal' )
          v-col( v-bind='secondaryProps' )
            slot( name='left' )
          v-col( v-bind='additionalProps' )
            slot( name='right' )
    v-col( v-bind='rightProps' )
      slot( name='side' )