v-sheet( v-bind='sheetProps' )
  v-toolbar( v-bind='toolbarProps' )
    v-toolbar-title( v-bind='titleProps' ) {{ title }}
    v-toolbar-items( v-bind='itemsProps' )
      slot( name='items' )
  v-calendar( v-bind='calendarProps' )
    template( slot='event' slot-scope='props' )
      slot( name='event' v-bind='props' )