v-sheet.vw-calendar( v-bind='sheetProps' )

  //
  slot( name='prepend' )

  //
  v-toolbar( v-bind='toolbarProps' )

    //
    v-progress-linear( v-bind='progressProps' v-if='loading' style='position: absolute; left: 0; top: 0;')

    // toolbar actions
    v-toolbar-items( v-bind='paginationProps' )
      vw-btn( bottom icon tip='Anterior' @click='onClickPrev' )
        v-icon mdi-arrow-left
      vw-btn( bottom icon tip='Siguiente' @click='onClickNext' )
        v-icon mdi-arrow-right
      slot( name='actions' v-bind='itemsProps' )

    // toolbar title
    v-toolbar-title( v-bind='titleProps' ) {{ title }}

    // toolbar items
    v-toolbar-items( v-bind='itemsProps' )
      slot( name='items' )

  //
  slot( name='prepend-calendar' )

  //
  v-calendar( 
    ref='calendar' 
    v-bind='calendarProps' 
    v-model='value' 
    @click:date='$emit("click:date", $event)'
    @click:day='$emit("click:day", $event)'
    @click:event='$emit("click:event", $event)'
    )
    template( slot='event' slot-scope='props' )
      slot( name='event' v-bind='props' )

  //
  slot( name='append' )