v-simple-table( v-bind='tableProps' )
  template( slot='default' )
    thead
      tr
        th
        template( v-for='(header, jdx) in headers' )
          th.px-5 {{ header[headerText] }}
    tbody
      template( v-for='(item, idx) in items' )
        tr
          td {{ item[itemText] }}
          template( v-for='header in headers' )
            td.text-center( v-if='ready' )
              v-checkbox.justify-space-around( 
                :value='header[headerValue]'
                v-bind='checkboxProps'
                v-model='_value[idx][jdx]'
                )