v-simple-table( v-bind='tableProps' )
  template( slot='default' )
    thead
      tr
        th
        template( v-for='(header, idx) in headers' )
          th {{ header[headerText] }}
    tbody
      template( v-for='(item, jdx) in items' )
        tr
          td {{ item[itemText] }}
          template( v-for='header in headers' )
            td.text-center
              //v-radio-group( v-model='_value[index]' )
              v-checkbox.justify-space-around( 
                :value='header[headerValue]'
                v-bind='radioProps'
                v-model='_value[jdx][idx]'
                )