// fieldset container
fieldset( v-bind='fieldsetProps' )
  v-container( v-bind='containerProps' )

    // fieldset fields
    v-row( v-bind='rowProps' )
      template( v-for='element in elements' )
        v-col( v-bind='element.flex' )

          // fieldset field
          component( 
            :is='element | type' 
            v-bind='element.prop' 
            v-bind:value='getValue(element.name)' 
            v-on:change='setValue(element.name, $event)'
            v-on:input='setValue(element.name, $event)'
            ) {{ element.html }}

            // fieldset field slots
            template( :slot='key' slot-scope='props' v-for='(name, key) in element.slot' )
              slot( :name='name' v-bind='props' )

    // fieldset append            
    v-row( v-bind='rowProps' )
      slot( name='append' )