v-text-field.date-field(
  ref="field"
  readonly
  single-line
  v-bind="fieldProps"
  v-model="formatted"
  )
  template( slot="append" )
    v-tooltip( bottom )
      template( slot="activator" )
        v-btn( :color="isReadonly ? 'default' : 'primary'" icon flat small @click="modal = true" )
          v-icon( small ) {{ icon }}
      span {{ this.isReadonly ? "Ver calendario" : "Seleccionar fecha" }}
  slot( name="prepend" slot="prepend" )
    v-dialog( v-model="modal" :width="290" )
      v-time-picker( v-bind="pickerProps" v-model="date" )
        v-btn( text @click='date=""' ) limpiar
        v-btn( color='primary' text @click='modal=false' ) aceptar
  slot( name="prepend-inner" slot="prepend-inner" )