.vw-time-field

  // time container
  v-text-field( readonly ref='field' v-bind='fieldProps' v-model='_value' )

    // time select
    template( slot='append' )
      v-tooltip( bottom )
        template( slot='activator' slot-scope='props' )
          v-btn( icon small v-bind='selectButtonProps' v-on='props.on' @click='onClickSelectButton' )
            v-icon( small ) {{ icon }}
        span {{ selectButtonText }}  

    // time slots      
    slot( name='prepend' slot='prepend' )
    slot( name="prepend-inner" slot="prepend-inner" )

  // time picker  
  v-dialog( v-model='modal' v-bind='dialogProps' )
    v-time-picker( v-bind='pickerProps' v-model='_value' )
      v-spacer
      v-btn( text @click='onClickCancelButton' ) {{ cancelText }}
      v-btn( color='primary' text @click='onClickAcceptButton' ) {{ acceptText }}