// toolbar container
v-toolbar( v-bind='toolbarProps' )

  // toolbar title
  v-toolbar-title( v-bind='titleProps' v-if='showTitle' ) {{ title }}

  // toolbar search slot
  slot( name='search' )

  // spacer
  v-spacer

  // toolbar items
  v-toolbar-items
    slot( name='toolbar-items' )

    // toolbar menu
    v-menu( v-bind='menuProps' v-if='!noMenu' )
      template( v-slot:activator='{ on }' )
        v-btn( v-bind='menuButtonProps' v-model='menues' v-on='on' )
          v-icon mdi-dots-vertical
      v-list( dense )
        slot( name='menu-items' )