.vw-layout-dashboard
  v-layout-drawer( v-bind='drawerProps' v-model='drawer' )
  vw-toolbar-app( v-bind='toolbarProps' @click:icon='drawer = !drawer' )
    template( slot='items' )
      slot( name='items' )
  slot( name='prepend' )
  v-content( v-bind='contentProps' )
    router-view