v-carousel( v-bind='carouselProps' )
  template( v-for='item in items' )
    v-carousel-item( v-bind='itemProps' )
      v-img( :src='item[itemSrc]' v-bind='imageProps' )
      template( slot='placeholder' )
        slot( name='placeholder' )