v-text-field( :rules='_rules' v-bind='_field' v-model='_value' @keydown='handleKeyDown' )
  slot( name='append' slot='append' )
  slot( name='append-outer' slot='append-outer' )
  slot( name='prepend' slot='prepend' )
  slot( name='prepend-inner' slot='prepend-inner' )