// data table
v-data-table( :items='value' v-bind='tableProps' v-model='selected' )

  // data table top
  template( slot='top' )

    // data table toolbar
    v-toolbar( v-bind='toolbarProps' )
      v-toolbar-title( v-bind='titleProps' ) {{ label }}
      v-spacer
      v-toolbar-items( v-bind='itemsProps' )
        slot( name='items' )
      