v-card( v-bind='cardProps' ) 
  v-card-title( v-bind='titleProps' ) {{ title }}
  v-card-subtitle( v-bind='subtitle' ) {{ subtitle }}
  v-card-text( v-bind='textProps' )
    ul
      li Vuelve a intentarlo más tarde.
      li Revisa la dirección web en la barra de búsqueda de tu navegador.
      li Si estás conectado pero detrás de un firewall, revisa que tengas permisos para acceder a la Web.