v-text-field.date-field( 
    :hide-details="hideDetails"
    :outline="outline"
    :flat='flat'
    ref="field" 
    readonly 
    :rules='rules'
    single-line
    :solo="solo"
    v-bind="fieldProps" 
    v-model="formatted" 
)
  template( slot="append" )
    v-tooltip( bottom )
      template( slot="activator" )
        v-btn( :color="isReadonly ? 'default' : 'primary'" small icon flat @click="modal = true" )
          v-icon( small ) mdi-clock-outline
      span {{ this.isReadonly ? "Ver calendario" : "Seleccionar fecha" }}
  slot( name="prepend" slot="prepend" )
    v-dialog( v-model="modal" :width="290" )
      v-date-picker( locale="es" v-bind="pickerProps" v-model="date" )        
  slot( name="prepend-inner" slot="prepend-inner" )